<div class="container">
  <div class="input-container">
    <div class="box">
      <input 
        type="text" 
        placeholder="Search by Username ... eg. bret, ant" 
        (input)="onSearch($event)" 
        (focus)="onFocus()" 
        (blur)="onBlur()" 
      />
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
      </a>
  </div>
  </div>
  
  @if (isLoading) {
    <div class="loader-container">
      <div class="loader"></div>
   </div>
  }
  
  @if (searchResults && searchResults.length) {
    <ul class="names">
      @for (result of searchResults; track result) {
        <li class="button-46" role="button" (click)="loadUserData(result)" style="cursor: pointer;">
          {{ result }}
        </li>
      }
    </ul>
  }

  @if (searchResults && searchResults.length === 0 && !isLoading) {
    <div class="not-found">
      <p class="emoji">☹️</p>
      <p>No users found.</p>
    </div>
  }

  @if (combinedData) {
    <div class="details">
      <h3>{{ combinedData.userDetails }}</h3>
      <h4>User Posts:</h4>
      <ul class="posts">
        @for (post of combinedData.userPosts; track post) {
          <li>{{ post }}</li>
        }
      </ul>
    </div>
  }

  @if (!searchResults && !combinedData && !isLoading) {
    <div class="not-found">
      <p>No data to display. Start a search!</p>
    </div>
  }
</div>